body {
    margin: 0;
    padding: 0;
    background-color:#242424 ;
}
#clock {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 144px;
    color: #242424;
    gap: 18px;
    margin-top: 200px;

   
}
#hours, #minutes, #seconds, #date, #today {
    background-color: grey;
    border-radius: 20px;
    padding: 40px 10px 40px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid rgb(100, 100, 100);
    width: 200px;
    
}
#hours, #minutes, #seconds, #date, #today, .glow {
    text-shadow: 0 0 6px white;
}
.column {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;

}


#date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  44px;
    color: #242424;
    height: 50px;
    width: 180px;

}
#today {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  40px;
    color: #242424;
    height: 50px;
    width: 180px;

}
/* {
    border: 1px solid red;
}